.cart{
    margin-top: 100px;
}
.cartitems-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: rgb(55, 43, 226);
    font-size: max(1vw,12px);
}
.cart-item{
    margin: 10px 0px;
     color: black;
}
.cart-item img{
    width: 50px;
}
.cart hr{
    height: 1px;
    background-color: rgb(255, 255, 255);
    
}
.cart-item .cross{
cursor: pointer;
color: red;
}
.car-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}
.carttotal{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.cart-total-details{
    display: flex;
    justify-content: space-between;

}
.carttotal hr{
    margin: 10px 0px;
}
.carttotal button{
    border: none;
    color: aqua;
    background-color: black;
    width: max(15vw,200px);
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
}
@media (max-width:750px){
    .car-bottom{
        flex-direction: column-reverse;
    }
}