.exploremenu{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.exploremenu h1{
    color: blue;
    font-weight: 500;
}
.exploremenutext{
    max-width: 60%;
    color: rgb(13, 134, 241);
}
.exploremenu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;
}
.exploremenu-list::-webkit-scrollbar{
    display: none;
}
.exploremnu-list-item{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.exploremnu-list-item p{
    margin-top: 10px;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.exploremenu hr{
    margin: 10px 0px;
    height: 2px;
    border: none;
    background-color: rgba(0, 0, 0, 0.16);
}
.exploremnu-list-item .active{
    border: 3px solid rgb(128, 0, 0);
    border-radius: 50%;
    padding: 2px;
}
@media (max-width:1050px){
    .exploremnu-list{
        max-width: 100%;
        font-size: 14px;
    }
}